<footer class="footer section gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mr-auto col-sm-6">
                <div class="widget mb-5 mb-lg-0">
                    <div class="logo mb-4">
                        <img src="images/logo.jpg" alt="" class="img-fluid">
                    </div>
                    <p>Misiunea spitalului este de a oferi servicii medicale de înaltă calitate și de a asigura îmbunătățirea continuă a calității actului medical, cu diversificarea serviciilor oferite populației, orientată în permanență spre satisfacerea nevoilor actuale şi aşteptarile viitoare ale pacienţilor și familiilor acestora.</p>

                    <ul class="list-inline footer-socials mt-4">
                        <li class="list-inline-item"><a href=""><i
                                    class="icofont-facebook"></i></a></li>
                        <li class="list-inline-item"><a href=""><i
                                    class="icofont-twitter"></i></a></li>
                        <li class="list-inline-item"><a href=""><i
                                    class="icofont-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="widget mb-5 mb-lg-0">
                    <h4 class="text-capitalize mb-3">Departamente</h4>
                    <div class="divider mb-4"></div>

                    <ul class="list-unstyled footer-menu lh-35">
                        <li><a href="#">Chirurgie </a></li>
                        <li><a href="#">Radiologie</a></li>
                        <li><a href="#">Cardiologie</a></li>
                        <li><a href="#">Neurologie</a></li>
                        <li><a href="#">Medicina de familie</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="widget mb-5 mb-lg-0">
                    <h4 class="text-capitalize mb-3">Suport</h4>
                    <div class="divider mb-4"></div>

                    <ul class="list-unstyled footer-menu lh-35">
                        <li><a href="#">Termeni si Conditii</a></li>
                        <li><a href="#">Politica de Confidentialitate</a></li>
                        <li><a href="#">Intrebari Frecvente </a></li>
                        <li><a href="#">Licenta SPitalului</a></li>
                        <!-- <li><a href="#"></a></li> -->
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-btm py-4 mt-5">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6">
                    <div class="copyright">
                        &copy; Proiectul <span class="text-color">"Nicolae Paulescu"</span> creat de <a
                            href="" target="_blank">M.R. Cosmin</a> and <a href="" target="_blank">T. Alexandra</a>
                    </div>
                    <div class="copyright text-center">
                    <!--&copy;-->  <span class="text-color text-center"><a href="http://info.tm.edu.ro" target="_blank">Liceul Teoretic "Grigore Moisil"</a> 2024</span></div>
                </div>
            <div class="row">
                <div class="col-lg-4">
                    <a class="backtop js-scroll-trigger" href="#top">
                        <i class="icofont-long-arrow-up"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>
</footer>