<nav class="navbar navbar-expand-lg navigation nav-regular" id="navbar" style="background-color:var(--color-dark-blue-1);">
    <div class="container">
        <div class="collapse navbar-collapse middle-nav" id="navbarmain">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a style="color:white;" class="nav-link dropdown-toggle" href="/" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Spital</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/">Acasa</a></li>
                        <li><a class="dropdown-item" href="/misiune">Misiunea SJNP</a></li>
                        <li><a class="dropdown-item" href="/imagini">Imagini</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a style="color:white;" class="nav-link" href="/programare">Programare</a></li>

                <li class="nav-item dropdown">
                    <a  style="color:white;" class="nav-link dropdown-toggle" href="/departamente" id="dropdown02" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Departamente </a>

                </li>
                <li class="nav-item dropdown">
                    <a style="color:white;" class="nav-link dropdown-toggle" href="/anunturi" id="dropdown05" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Informatii publice</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown05">
                        <li><a class="dropdown-item" href="/anunturi">Anunturi</a></li>
                        <li><a class="dropdown-item" href="/concursuri">Concursuri</a></li>
                        <li><a class="dropdown-item" href="blog-sidebar.html">Relatii cu publicul</a></li>
                        <!-- <li><a class="dropdown-item" href="blog-sidebar.html">Protectia datelor</a></li> -->
                    </ul>
                </li>
                <li class="nav-item"><a style="color:white;" class="nav-link" href="/contact">Contact</a></li>
            </ul>
        </div>
    
        <div class="login-nav" id="navbarmain">
            <ul class="navbar-nav">
                <div class="col">
                    <li class="nav-item"> 
                            <%if(!role){%>
                                <a style="color:white;" class="nav-link" id="userLogResult" href="/login">
                                Uz Intern
                            <%}else if(role == "Admin"){%>
                                <a style="color:white;" class="nav-link" id="userLogResult" href="/admin">
                                Admin
                            <%}else if(role == "Doctor"){%>
                                <a style="color:white;" class="nav-link" id="userLogResult" href="/doctor">
                                Doctor
                            <%}else{%>
                                <a style="color:white;" class="nav-link" id="userLogResult" href="/logout">
                                Log Out
                            <%}%>
                        </a>
                    </li>
                </div>
                <div class="col">
                    <li class="nav-item logo-item">
                        <a class="img-logo" href="index.html">
                            <img class="img-logo" src="res/logo.png" />
                        </a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</nav>