<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Nicolae Paulescu | Home</title>
        <%- include('partials/head.ejs') -%>
    </head>
    <body id="blur">
        <header>
            <!--  PHONE TOP NAVBAR -->
            <div class="header-top-bar">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5">
                            <ul class="top-bar-info list-inline-item pl-0 mb-0">
                                <li class="list-inline-item">
                                    <div class="list-item-container">
                                        <div>
                                            <i class="icofont-location-pin mr-1"></i>Str. Rasaritului
                                        </div>
                                        <div>
                                            <a href="tel:+40712345678"><i class="icofont-phone mr-1"></i>+40712345678</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-inline-item">
                                    <div class="list-item-container">
                                        <div>
                                            <i class="icofont-location-pin mr-1"></i>Str. Spitalului
                                        </div>
                                        <div>
                                            <a href="tel:+40787654321"><i class="icofont-phone mr-1"></i>+40787654321</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-inline-item">
                            </li>
                            </ul>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col"></div>
                                <div class="col-lg-6">
                                    <div class="text-lg-right top-right-bar">
                                        <span>Receptie Spital:</span>
                                        <a href="tel:+0711223344"><i class="icofont-phone"></i><span class="h4">0711223344</span></a>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="text-lg-center top-right-bar">
                                        <span>Urgente:</span>
                                        <a href="tel:112"><i class="icofont-phone"></i><span class="h4">112</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('partials/header.ejs') -%>
            <!-- MAIN NAVBAR MENU -->
        </header>
        
        <section class="banner" style="position:relative">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-xl-7">
                            <div class="block">
                                <div class="divider mb-3"></div>
                                <span class="text-uppercase text-sm letter-spacing ">Solutii de medicina totala</span>
                                <h1 class="mb-2 mt-2">Fii in siguranta! </h1>
        
                                <p class="mb-2 pr-5"> Nu te-ai simtit prea bine zilele astea? Ai racit sau te-a deranjat ceva? </p>  
                                <p>Spitalul "Nicolae Paulescu" va asigura cele mai bune ingrijiri medicale disponibile in tara si este locul perfect pentru un control. Fa-ti acum o programare si vino la noi!</p>
                                <div class="btn-container ">
                                    <a href="/programare" target="_blank"
                                        class="btn btn-main btn-icon btn-round">Programare <i
                                            class="icofont-simple-right ml-2  "></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-xl-5">
                            <div class="block" style="text-align: right;border-right:5px solid rgba(24, 58, 102, 0.6);border-radius:5%">
                                <h1 class="mb-2 pr-3" style="margin-top:20px;color:rgba(24, 58, 102, 0.5)">Spitalul</h1>
                                <h1 class="mb-2 pr-3" style="color:rgba(24, 58, 102, 0.5)">Nicolae</h1>
                                <h1 class="mb-2 pr-3" style="color:rgba(24, 58, 102, 0.5)">Paulescu</h1>
                            </div>
                        </div>
                    </div>
                    <div class="list-items-container">
                        <div class="items-body-container-first text-left">
                            <div class="text-container mr-3">
                                <h2 class="mb-3 mt-3">Informatii Generale</h3>
                            </div>
                        </div>
                        <div class="row list-items-body">
                            <div class="items-body-container">
                                <div class="item-container">
                                    <a href="/">
                                    <div class="image-item-container text-center">
                                        <i class="icofont-heart-beat big-icon"></i>
                                    </div>
                                    <div class="items-text-container text-center mt-2">
                                        <h3 class="cards-text">Sanatate Zilnica</h3>
                                    </div>
                                    </a>
                                </div>
                            </div>
                            <div class="items-body-container">
                                <div class="item-container">
                                    <a href="/departamente">
                                    <div class="image-item-container text-center">
                                        <i class="icofont-doctor big-icon"></i>
                                    </div>
                                    <div class="text-container text-center mt-2">
                                        <h3 class="cards-text">Doctori</h3>
                                    </div>
                                    </a>
                                </div>
                            </div>
                            <div class="items-body-container">
                                <a href="/anunturi">
                                <div class="item-container">
                                    <div class="image-item-container text-center">
                                        <i class="icofont-injection-syringe big-icon"></i>
                                    </div>
                                    <div class="text-container text-center mt-2">
                                        <h3 class="cards-text">Anunturi Publice</h3>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="items-body-container">
                                <a href="/programare">
                                    <div class="item-container">
                                        <div class="image-item-container text-center">
                                            <i class="icofont-phone big-icon"></i>
                                        </div>
                                        <div class="text-container text-center mt-2">
                                            <h3 class="cards-text">Programare</h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div> 
                    </div>
                </div>
            <!-- </div> -->
        </section>
        <section class="section about">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-sm-6">
                        <div class="about-img">
                            <img src="res/img-2.jpg" alt="" class="img-fluid">
                            <img src="res/img-1.jpg" alt="" class="img-fluid mt-4">
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="about-img mt-4 mt-lg-0">
                            <img src="res/img-3.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="about-content pl-4 mt-4 mt-lg-0">
                            <h2 class="title-color">Ingrijire personala <br>& viata sanatoasa</h2>
                            <p class="mt-4 mb-5">Oferim cele mai bune servicii medicale de top. Cele mai inteliigente minti din tara sunt aici pentru a va ajuta</p>
    
                            <!-- <a href="service.html" class="btn btn-main-2 btn-round-full btn-icon">Servicii<i
                                    class="icofont-simple-right ml-3"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section service gray-bg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7 text-center">
                        <div class="section-title">
                            <h2>Ingrijire premiata a pacientilor</h2>
                            <div class="divider mx-auto my-4"></div>
                            <p>Noua ne pasa de de pacienti! Veniti sa vedeti sectiile nou reconstruite care se ridica la inaltimea asteptarilor, si nu numai!</p>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="service-item mb-4">
                            <div class="icon d-flex align-items-center">
                                <i class="icofont-laboratory text-lg"></i>
                                <h4 class="mt-3 mb-3">Servicii de Laborator</h4>
                            </div>
    
                            <div class="content">
                                <p class="mb-4">In colaborare cu PharmaMed, avem parteneriatul cu cele mai bune servicii de laborator prezente pe piata</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="service-item mb-4">
                            <div class="icon d-flex align-items-center">
                                <i class="icofont-heart-beat-alt text-lg"></i>
                                <h4 class="mt-3 mb-3">Boli Cardiovasculare</h4>
                            </div>
                            <div class="content">
                                <p class="mb-4">Chirurgii cardiovasculari si medicii sunt aici pentru a va verifica si a se asigura ca sunteti cat mai sanatos posibil</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="service-item mb-4">
                            <div class="icon d-flex align-items-center">
                                <i class="icofont-tooth text-lg"></i>
                                <h4 class="mt-3 mb-3">Ingrijire Dentara</h4>
                            </div>
                            <div class="content">
                                <p class="mb-4">Noua in spitalul nostru, unitatea de ingrijire dentara, dotata cu aparate de ultima generatie si medici calificati pentru sanatatea dumneavoastra orala</p>
                            </div>
                        </div>
                    </div>
    
    
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="service-item mb-4">
                            <div class="icon d-flex align-items-center">
                                <i class="icofont-crutch text-lg"></i>
                                <h4 class="mt-3 mb-3">Chirurgie Totala</h4>
                            </div>
    
                            <div class="content">
                                <p class="mb-4">Cei mai buni chirurgi din Europa de Est lucreaza la Spitalul "Nicolae Paulescu" pentru a asigura proceduri cat mai usoare pentru dumneavoastra</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="service-item mb-4">
                            <div class="icon d-flex align-items-center">
                                <i class="icofont-dna-alt-1 text-lg"></i>
                                <h4 class="mt-3 mb-3">Ginecologie</h4>
                            </div>
                            <div class="content">
                                <p class="mb-4">Fa-ti un control pana nu este prea tarziu! Veniti astazi pentru un consult gratuit</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="service-item mb-4">
                            <div class="icon d-flex align-items-center">
                                <i class="icofont-brain-alt text-lg"></i>
                                <h4 class="mt-3 mb-3">Chirurgie Neurologica</h4>
                            </div>
                            <div class="content">
                                <p class="mb-4">Unul dintre cei mai buni neurochirurgi din lume opereaza si lucreaza in prezent aici, alaturi de departamentul sau! Vino si asigura-te ca primesti cea mai buna ingrijire</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include("partials/footer.ejs") -%>
    </body>
</html>