<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Misiune | Nicolae Paulescu</title>
        <%- include('partials/head.ejs') -%>
    </head>
    <body>
    <%- include('partials/header.ejs') -%>
    </body>
</html>