<!DOCTYPE html>
<html lang="en">

<head>
    <title>Anunturi | Spitalul Nicolae Paulescu</title>
    <%- include('partials/head.ejs') -%>

        <style>
            body {
                --wp--preset--color--black: #000000;
                --wp--preset--color--cyan-bluish-gray: #abb8c3;
                --wp--preset--color--white: #ffffff;
                --wp--preset--color--pale-cyan-blue: #8ed1fc;
                --wp--preset--color--vivid-cyan-blue: #0693e3;
                --wp--preset--color--vivid-purple: #9b51e0;
                --wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);
                --wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);
                --wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);
                --wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);
                --wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);
            }



            body {
                margin: 0;
                --wp--style--global--content-size: 823px;
                --wp--style--global--wide-size: 1080px;
            }

            a:where(:not(.wp-element-button)) {
                text-decoration: underline;
            }

            .wp-element-button,
            .wp-block-button__link {
                background-color: #32373c;
                border-width: 0;
                color: #fff;
                font-family: inherit;
                font-size: inherit;
                line-height: inherit;
                padding: calc(0.667em + 2px) calc(1.333em + 2px);
                text-decoration: none;
            }



            a,
            abbr,
            acronym,
            address,
            applet,
            b,
            big,
            blockquote,
            body,
            center,
            cite,
            code,
            dd,
            del,
            dfn,
            div,
            dl,
            dt,
            em,
            fieldset,
            font,
            form,
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            html,
            i,
            iframe,
            img,
            ins,
            kbd,
            label,
            legend,
            li,
            object,
            ol,
            p,
            pre,
            q,
            s,
            samp,
            small,
            span,
            strike,
            strong,
            sub,
            sup,
            tt,
            u,
            ul,
            var {
                margin: 0;
                padding: 0;
                border: 0;
                outline: 0;
                font-size: 100%;
                -ms-text-size-adjust: 100%;
                -webkit-text-size-adjust: 100%;
                vertical-align: baseline;
                background: transparent
            }

            body {
                line-height: 1
            }

            ol,
            ul {
                list-style: none
            }

            blockquote,
            q {
                quotes: none
            }



            figure {
                margin: 0
            }

            table {
                border-collapse: collapse;
                border-spacing: 0
            }

            article,
            aside,
            footer,
            header,
            hgroup,
            nav,
            section {
                display: block
            }

            body {
                font-family: Open Sans, Arial, sans-serif;
                font-size: 14px;
                color: #666;
                background-color: #fff;
                line-height: 1.7em;
                font-weight: 500;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale
            }

            body.page-template-page-template-blank-php #page-container {
                padding-top: 0 !important
            }

            body.et_cover_background {
                background-size: cover !important;
                background-position: top !important;
                background-repeat: no-repeat !important;
                background-attachment: fixed
            }

            a {
                color: #2ea3f2
            }

            a,
            a:hover {
                text-decoration: none
            }

            p {
                padding-bottom: 1em
            }

            p:not(.has-background):last-of-type {
                padding-bottom: 0
            }

            p.et_normal_padding {
                padding-bottom: 1em
            }

            strong {
                font-weight: 700
            }


            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: rgb(34, 58, 102);
                padding-bottom: 10px;
                line-height: 1em;
                font-weight: 500
            }

            h1 a,
            h2 a,
            h3 a,
            h4 a,
            h5 a,
            h6 a {
                color: inherit
            }

            h1 {
                font-size: 30px
            }

            h2 {
                font-size: 26px
            }

            h3 {
                font-size: 22px
            }

            h4 {
                font-size: 18px
            }

            h5 {
                font-size: 16px
            }

            h6 {
                font-size: 14px
            }


            input.text,
            input.title,
            input[type=email],
            input[type=password],
            input[type=tel],
            input[type=text],
            select,
            textarea {
                background-color: #fff;
                border: 1px solid #bbb;
                padding: 2px;
                color: #4e4e4e
            }

            input.text:focus,
            input.title:focus,
            input[type=text]:focus,
            select:focus,
            textarea:focus {
                border-color: #2d3940;
                color: #3e3e3e
            }

            input.text,
            input.title,
            input[type=text],
            select,
            textarea {
                margin: 0
            }

            textarea {
                padding: 4px
            }

            button,
            input,
            select,
            textarea {
                font-family: inherit
            }

            img {
                max-width: 100%;
                height: auto
            }

            .clear {
                clear: both
            }

            br.clear {
                margin: 0;
                padding: 0
            }

            .pagination {
                clear: both
            }

            #et_search_icon:hover,
            .et-social-icon a:hover,
            .et_password_protected_form .et_submit_button,
            .form-submit .et_pb_buttontton.alt.disabled,
            .nav-single a,
            .posted_in a {
                color: #2ea3f2
            }

            .et-search-form,
            blockquote {
                border-color: #2ea3f2
            }

            #main-content {
                background-color: #fff
            }

            .container {
                width: 80%;
                max-width: 1080px;
                margin: auto;
                position: relative
            }

            body:not(.et-tb) #main-content .container,
            body:not(.et-tb-has-header) #main-content .container {
                padding-top: 58px
            }

            .et_full_width_page #main-content .container:before {
                display: none
            }

            .main_title {
                margin-bottom: 20px
            }


            .et_button_icon_visible.et_button_left .et_pb_button,
            .et_button_left .et_pb_button:hover,
            .et_button_left .et_pb_module .et_pb_button:hover {
                padding-left: 2em;
                padding-right: .7em
            }

            .et_button_icon_visible.et_button_left .et_pb_button:after,
            .et_button_left .et_pb_button:hover:after {
                left: .15em
            }

            .entry-content tr td {
                border-top: 1px solid #eee;
                padding: 6px 24px
            }

            #left-area ul,
            .entry-content ul,
            .et-l--body ul,
            .et-l--footer ul,
            .et-l--header ul {
                list-style-type: disc;
                padding: 0 0 23px 1em;
                line-height: 26px
            }

            #left-area ol,
            .entry-content ol,
            .et-l--body ol,
            .et-l--footer ol,
            .et-l--header ol {
                list-style-type: decimal;
                list-style-position: inside;
                padding: 0 0 23px;
                line-height: 26px
            }

            #left-area ul li ul,
            .entry-content ul li ol {
                padding: 2px 0 2px 20px
            }

            #left-area ol li ul,
            .entry-content ol li ol,
            .et-l--body ol li ol,
            .et-l--footer ol li ol,
            .et-l--header ol li ol {
                padding: 2px 0 2px 35px
            }



            #left-area .post-meta {
                font-size: 14px;
                padding-bottom: 15px
            }

            #left-area .post-meta a {
                text-decoration: none;
                color: #666
            }

            #left-area .et_featured_image {
                padding-bottom: 7px
            }

            .single .post {
                padding-bottom: 25px
            }

            body.single .et_audio_content {
                margin-bottom: -6px
            }

            .nav-single a {
                text-decoration: none;
                color: #2ea3f2;
                font-size: 14px;
                font-weight: 400
            }

            .nav-previous {
                float: left
            }

            .nav-next {
                float: right
            }

            .et_password_protected_form p input {
                background-color: #eee;
                border: none !important;
                width: 100% !important;
                border-radius: 0 !important;
                font-size: 14px;
                color: #999 !important;
                padding: 16px !important;
                -webkit-box-sizing: border-box;
                box-sizing: border-box
            }

            .et_password_protected_form label {
                display: none
            }

            .et_password_protected_form .et_submit_button {
                font-family: inherit;
                display: block;
                float: right;
                margin: 8px auto 0;
                cursor: pointer
            }

            .post-password-required p.nocomments.container {
                max-width: 100%
            }

            .post-password-required p.nocomments.container:before {
                display: none
            }

            .aligncenter,
            div.post .new-post .aligncenter {
                display: block;
                margin-left: auto;
                margin-right: auto
            }

            .wp-caption {
                border: 1px solid #ddd;
                text-align: center;
                background-color: #f3f3f3;
                margin-bottom: 10px;
                max-width: 96%;
                padding: 8px
            }

            .wp-caption.alignleft {
                margin: 0 30px 20px 0
            }

            .wp-caption.alignright {
                margin: 0 0 20px 30px
            }

            .wp-caption img {
                margin: 0;
                padding: 0;
                border: 0
            }

            .wp-caption p.wp-caption-text {
                font-size: 12px;
                padding: 0 4px 5px;
                margin: 0;
            }

            .alignright {
                float: right
            }

            .alignleft {
                float: left
            }

            img.alignleft {
                display: inline;
                float: left;
                margin-right: 15px
            }

            img.alignright {
                display: inline;
                float: right;
                margin-left: 15px
            }

            .page.et_pb_pagebuilder_layout #main-content {
                background-color: transparent
            }

            body #main-content .et_builder_inner_content>h1,
            body #main-content .et_builder_inner_content>h2,
            body #main-content .et_builder_inner_content>h3,
            body #main-content .et_builder_inner_content>h4,
            body #main-content .et_builder_inner_content>h5,
            body #main-content .et_builder_inner_content>h6 {
                line-height: 1.4em
            }

            body #main-content .et_builder_inner_content>p {
                line-height: 1.7em
            }

            .wp-block-pullquote {
                margin: 20px 0 30px
            }

            .wp-block-pullquote.has-background blockquote {
                border-left: none
            }

            .wp-block-group.has-background {
                padding: 1.5em 1.5em .5em
            }

            @media (min-width: 981px) {
                #left-area {
                    /* width: 79.125%; */
                    width: 70%;
                    padding-bottom: 23px
                }

                #main-content .container:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    height: 100%;
                    width: 1px;
                    background-color: #e2e2e2
                }

                .et_full_width_page #left-area,
                .et_no_sidebar #left-area {
                    float: none;
                    width: 100% !important
                }

                .et_full_width_page #left-area {
                    padding-bottom: 0
                }

                .et_no_sidebar #main-content .container:before {
                    display: none
                }
            }

            #sidebar {
                padding-bottom: 28px
            }

            #sidebar .et_pb_widget {
                margin-bottom: 30px;
                width: 100%;
                float: none
            }



            @media all and (min-width: 981px) and (max-width: 1100px) {
                #sidebar .et_pb_widget {
                    margin-left: 0
                }

                .et_left_sidebar #sidebar .et_pb_widget {
                    margin-right: 0
                }
            }

            @media all and (min-width: 981px) {
                #sidebar {
                    float: left;
                    width: 30%;
                }

                .et_right_sidebar #left-area {
                    float: left;
                    padding-right: 5.5%
                }

                .et_right_sidebar #sidebar {
                    padding-left: 30px
                }

                .et_right_sidebar #main-content .container:before {
                    right: 20.875% !important
                }

                .et_left_sidebar #left-area {
                    float: right;
                    padding-left: 5.5%
                }

                .et_left_sidebar #sidebar {
                    padding-right: 30px
                }

                .et_left_sidebar #main-content .container:before {
                    left: 20.875% !important
                }
            }




            @media (min-width: 981px) {
                .et_pb_section {
                    padding: 4% 0
                }

                body.et_pb_pagebuilder_layout.et_pb_show_title .post-password-required .et_pb_section,
                body:not(.et_pb_pagebuilder_layout) .post-password-required .et_pb_section {
                    padding-top: 0
                }

                .et_pb_fullwidth_section {
                    padding: 0
                }

                .et_pb_section_video_bg.et_pb_section_video_bg_desktop_only {
                    display: block
                }
            }


            @media (min-width: 768px) {
                .et_pb_section_video_bg.et_pb_section_video_bg_desktop_tablet {
                    display: block
                }
            }


            #main-header {
                line-height: 23px;
                font-weight: 500;
                top: 0;
                background-color: #fff;
                width: 100%;
                -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
                box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
                position: relative;
                z-index: 99999
            }


            .body-container {
                width: 80%;
                margin: auto;
                margin-top: 50px;
            }

            li {
                color: #6F8BA4 !important;
            }

            h2,
            h3 {
                color: var(--color-dark-blue-1) !important;
            }

            p {
                color: #4e4e4e;

            }


            .mySlides {
                display: none
            }

            img {
                vertical-align: middle;
            }

            /* Slideshow container */
            .slideshow-container {
                max-width: 1000px;
                position: relative;
                margin: auto;
            }

            /* Next & previous buttons */
            .prev,
            .next {
                cursor: pointer;
                position: absolute;
                top: 50%;
                width: auto;
                padding: 16px;
                margin-top: -22px;
                color: white;
                font-weight: bold;
                font-size: 18px;
                transition: 0.6s ease;
                border-radius: 0 3px 3px 0;
                user-select: none;
            }

            /* Position the "next button" to the right */
            .next {
                right: 0;
                border-radius: 3px 0 0 3px;
            }

            /* On hover, add a black background color with a little bit see-through */
            .prev:hover,
            .next:hover {
                background-color: rgba(0, 0, 0, 0.8);
            }

            /* Caption text */
            .text {
                color: #f2f2f2;
                font-size: 15px;
                padding: 8px 12px;
                position: absolute;
                bottom: 8px;
                width: 100%;
                text-align: center;
            }

            /* Number text (1/3 etc) */
            .numbertext {
                color: #f2f2f2;
                font-size: 12px;
                padding: 8px 12px;
                position: absolute;
                top: 0;
            }

            /* The dots/bullets/indicators */
            .dot {
                cursor: pointer;
                height: 15px;
                width: 15px;
                margin: 0 2px;
                background-color: #bbb;
                border-radius: 50%;
                display: inline-block;
                transition: background-color 0.6s ease;
            }

            .active,
            .dot:hover {
                background-color: #717171;
            }

            /* Fading animation */
            .fade {
                animation-name: fade;
                animation-duration: 1.5s;
            }

            @keyframes fade {
                from {
                    opacity: .4;
                }

                to {
                    opacity: 1;
                }
            }

            /* On smaller screens, decrease text size */
            @media only screen and (max-width: 300px) {

                .prev,
                .next,
                .text {
                    font-size: 11px
                }
            }
        </style>
</head>

<body>

    <%- include('partials/header_files.ejs') -%>

        <div id="et-main-area">
            <div id="main-content">
                <div class="body-container">
                    <div id="content-area" class="clearfix" style="display:flex">
                        <div id="left-area">
                            <article class="post-4 page type-page status-publish hentry">
                                <h1 class="entry-title main_title">Anunturi</h1>
                                <div class="entry-content">


                                    <div class="slideshow-container">

                                        <div class="mySlides fade">
                                            <div class="numbertext">1 / 3</div>
                                            <img src="res/hospital-photo-1.jpg" style="width:100%">
                                        </div>

                                        <div class="mySlides fade">
                                            <div class="numbertext">2 / 3</div>
                                            <img src="res/hospital-photo-2.jpg" style="width:100%;">
                                        </div>

                                        <div class="mySlides fade">
                                            <div class="numbertext">3 / 3</div>
                                            <img src="res/hospital-photo-3.jpg" style="width:100%">
                                        </div>

                                        <a class="prev" onclick="plusSlides(-1)">❮</a>
                                        <a class="next" onclick="plusSlides(1)">❯</a>

                                    </div>
                                    <br>

                                    <div style="text-align:center">
                                        <span class="dot" onclick="currentSlide(1)"></span>
                                        <span class="dot" onclick="currentSlide(2)"></span>
                                        <span class="dot" onclick="currentSlide(3)"></span>
                                    </div>

                                    <script>
                                        let slideIndex = 1;
                                        showSlides(slideIndex);

                                        function plusSlides(n) {
                                            showSlides(slideIndex += n);
                                        }

                                        function currentSlide(n) {
                                            showSlides(slideIndex = n);
                                        }

                                        function showSlides(n) {
                                            let i;
                                            let slides = document.getElementsByClassName("mySlides");
                                            let dots = document.getElementsByClassName("dot");
                                            if (n > slides.length) { slideIndex = 1 }
                                            if (n < 1) { slideIndex = slides.length }
                                            for (i = 0; i < slides.length; i++) {
                                                    slides[i].style.display = "none";
                                            }
                                            for (i = 0; i < dots.length; i++) {
                                                dots[i].className = dots[i].className.replace(" active", "");
                                            }
                                            slides[slideIndex - 1].style.display = "block";
                                            dots[slideIndex - 1].className += " active";
                                        }
                                    </script>


                                </div>
                            </article>
                        </div>
                        <div id="sidebar">
                            <div id="text-25" class="et_pb_widget widget_text">
                                <div class="textwidget">
                                    <div class="wp-caption aligncenter">
                                        <h4 style="text-align: center;" class="mt-2"><strong>Tine minte!</strong></h4>
                                        <p style="text-align: center;">"Sanatatea este o comoara pe care putini stiu sa
                                            o pretuiasca, desi aproape toti se nasc cu ea" (Hipocrate)</p>
                                        <p style="text-align: center;">"Un organism sanatos este camera de oaspeti a
                                            sufletului, un organism bolnav, o inchisoare" (Francis bacon)</p>
                                    </div>
                                    <br /><br />
                                    <h4 class="widgettitle text-center">Programări Ambulator</h4>
                                    <p style="text-align: center;">
                                        <strong>
                                            Tel. <a style="color: var(--color-dark-blue-1)!important;"
                                                href="tel:0122333444">0122333444</a>
                                            și <a style="color: var(--color-dark-blue-1)!important;"
                                                href="tel:0748331296">0748331296</a>
                                        </strong>
                                        <br />
                                        <strong>
                                            L-V între orele 08:00-20:00<br />
                                        </strong>
                                        <br />
                                    </p>
                                </div>
                            </div>
                            <div id="text-27" class="et_pb_widget widget_text">
                                <h4 class="widgettitle text-center">Programări Laborator</h4>
                                <div class="textwidget">
                                    <p style="text-align: center;">
                                        <strong>
                                            Tel. <a style="color: var(--color-dark-blue-1)!important;"
                                                href="tel:0586748394">0586748394</a>
                                            și <a style="color: var(--color-dark-blue-1)!important;"
                                                href="tel:0876543457">0876543457</a>
                                        </strong>
                                        <br />
                                        <strong>L-V între orele 8:00-22:00</strong>
                                        <br />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span class="et_pb_scroll_top et-pb-icon"></span>
        </div>
        <%- include("partials/footer.ejs") -%>
</body>

</html>